@page "/evidence_z"

<PageTitle>Evidence</PageTitle>

<h3>Evidence nákladů a výnosů</h3>

<div>
    @* formulář *@
    <div class="card">
        <div class="card-body">
            <EditForm Model="formularTransakce" OnValidSubmit="UlozitTransakci">
                <DataAnnotationsValidator />
                <div class="row g-3 align-items-end">
                    <div class="col mb-3 mt-3">
                        <label for="datum" class="form-label">Datum:</label>
                        <InputDate class="form-control" @bind-Value="formularTransakce.Datum" id="datum" placeholder="Vložte datum" />
                        <ValidationMessage For="@(() => formularTransakce.Datum)" />
                    </div>

                    <div class="col mb-3 mt-3">
                        <label for="vynosy" class="form-label">Výnosy:</label>
                        <InputNumber class="form-control" @bind-Value="formularTransakce.Vynosy" id="vynosy" placeholder="Vložte výnosy" />
                        <ValidationMessage For="@(() => formularTransakce.Vynosy)" />
                    </div>

                    <div class="col mb-3 mt-3">
                        <label for="naklady" class="form-label">Náklady:</label>
                        <InputNumber class="form-control" @bind-Value="formularTransakce.Naklady" id="naklady" placeholder="Vložte náklady" />
                        <ValidationMessage For="@(() => formularTransakce.Naklady)" />
                    </div>

                    <div class="col mb-3 mt-3">
                        <label for="popis" class="form-label">Popis:</label>
                        <InputText class="form-control" @bind-Value="formularTransakce.Popis" id="popis" placeholder="Vložte náklady" />
                        <ValidationMessage For="@(() => formularTransakce.Popis)" />
                    </div>

                    <div class="col mb-3 mt-3">
                        <button type="submit" class="btn btn-primary">
                            @(!JeEditace ? "Přidat záznam" : "Uložit změny")
                        </button>
                    </div>
                </div>
                
            </EditForm>
        </div>
    </div>
</div>

<div class="container mt-3">

    @* filtr *@
    <div class="row  g-3 align-items-end">
        <div class="col-md-3">
            <div class="input-group">
                <span class="input-group-text">
                    <span class="material-symbols-outlined">
                        search
                    </span>
                </span>
                <input type="text" class="form-control" placeholder="Hledat v popisu">
            </div>
        </div>

       
        <div class="col-md-2 ">
            <select class="form-select">
                <option>Zisk rovno (=)</option>
                <option>Zisk menší něž (&lt;)</option>
                <option>Zisk větší něž (&gt;)</option>
            </select>
        </div>
      
        <div class="col-md-2 ">
            <input type="number" class="form-control" placeholder="Hodnota...">
        </div>

        <div class="col-md-1 ">
            <button type="button" class="btn btn-outline-dark">X</button>
        </div>
    </div>

    @* Tabulka všech transkaci *@
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Datum</th>
                <th>Popis</th>
                <th>Výnosy</th>
                <th>Náklady</th>
                <th>Zisk</th>
                <th>Akce</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in EvidenceService.TransakceSeznam)
            {
                var tridaZisku = item.Zisk > 0 ? "text-success" : "text-danger";
                <tr>
                    <td>@item.Datum.ToShortDateString()</td>
                    <td>@item.Popis</td>
                    <td class="text-end text-success">@item.Vynosy.ToString("N2")</td>
                    <td class="text-end text-danger">@item.Naklady.ToString("N2")</td>
                    <td class="text-end fw-bold @tridaZisku">@item.Zisk.ToString("N2")</td>
                    <td>
                        <button type="button" @onclick="() => ZacitEditaci(item)" class="btn btn-outline-primary">
                            <span class="material-symbols-outlined">
                                edit
                            </span> Upravit
                        </button>

                        <button type="button" @onclick="() => SmazatTransakci(item)"  class="btn btn-outline-danger">
                            <span class="material-symbols-outlined">
                                delete
                            </span> Smazat
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {

}
